<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <clear />
          <add name="SmartInspect"
            type="Gurock.SmartInspect.DebugTrace.SmartInspectTraceListener, 
              Gurock.SmartInspect.DebugTrace" />
        </listeners>
      </source>
    </sources>-->
  </system.diagnostics>
  <system.serviceModel>
    <!--<diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>-->
  </system.serviceModel>
</configuration>